@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.bloc {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.bloc_logo_footer{
    width: 30%;
}
.image-container {
    position: relative;
    width: 100%;
}

.image-container img {
    width: 100%;
}

.image-container .overlay-gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20%;
    background: linear-gradient(transparent, rgb(88, 88, 88));
}

#pres_img{
    width: 100%;
}

.image-container .overlay-text {
    position: absolute;
    bottom: 5%;
    left: 8%;
    color: white;
    font-family: 'Helvetica', sans-serif;
    font-size: 5vh; /* Ajouté pour augmenter la taille du texte */
    font-weight: bold; /* Ajouté pour rendre le texte gras */
}

footer{
    background-color: rgb(199, 200, 201);
    min-height: 10vh;
}

.card-img-overlay {
    color: white;
    background: linear-gradient(to top, rgb(136, 136, 136) 0%, transparent 17vh);
    width: 100%;
}

.blur-background {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(30px);
  }

/* .souscont h1{
    z-index:
    padding-left:60px;
    /* pas mega utile au dessus
    font-size: 200%;} */

.card{
    position: relative; /* Ajouté pour positionner les enfants de manière absolue par rapport à la carte */
    border-radius: 3vb;
    overflow: hidden;
}

.card-img-overlay .card-title{
    position: absolute;
    bottom: 40px; /* Ajustez cette valeur en fonction de la hauteur de votre texte */
    margin-bottom: 10px; /* Ajoute de l'espace entre le titre et le texte */
}

.card-img-overlay .card-text{
    position: absolute;
    bottom: 10px; /* Ajouté pour positionner le texte en bas de la carte */
}

.card-img-overlay .overlay-text {
    position: absolute;
    bottom: 0;
    left: 8%;
    color: white;
    font-family: 'Helvetica', sans-serif;
    font-size: 5vh; /* Ajouté pour augmenter la taille du texte */
    font-weight: bold; /* Ajouté pour rendre le texte gras */
}

.container-fluid{
    z-index: 1;
    /*background-color: rgba(182, 182, 182, 0.5);*/
    position: sticky;
    top: 0;

    padding-left: 0;
    padding-right: 0;
}
body{
    background-color: rgb(233, 231, 231);
}

.container{
    width:90%;
    /* animation: fadeIn 0.5s ease-in-out; */
}

.block {
    background-color: rgb(187, 255, 187);
    border-radius: 3vh;
    height: 100%;
    width:100%;
    overflow: hidden; /* Ajouté pour garder l'image à l'intérieur du bloc */
}

