@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}



.bloc {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}
.image-container {
    position: relative;
    width: 100%;
}

.image-container img {
    width: 100%;
}

.image-container .overlay-gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20%;
    background: linear-gradient(transparent, rgb(88, 88, 88));
}

.image-container .overlay-text {
    position: absolute;
    bottom: 5%;
    left: 8%;
    color: white;
    font-family: 'Helvetica', sans-serif;
    font-size: 5vh; /* Ajouté pour augmenter la taille du texte */
    font-weight: bold; /* Ajouté pour rendre le texte gras */
}

footer{
    background-color: rgb(199, 200, 201);
    min-height: 10vh;
}
.souscont{
    background-color: rgba(255, 255, 255, 0.8);
    height:50px;
}

.blur-background {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
  }

.souscont h1{
    z-index: 1;
    padding-left:10px;
    /*pas mega utile au dessus*/
    font-size: 200%;
}

.card{
    z-index: -1;
    border-radius: 3vb;
    overflow: hidden;
}


.container-fluid{
    z-index: 1;
    /*background-color: rgba(182, 182, 182, 0.5);*/
    position: sticky;
    top: 0;

    padding-left: 0;
    padding-right: 0;
}
body{
    background-color: rgb(233, 231, 231);
}
.container{
    width:90%;
    /* animation: fadeIn 0.5s ease-in-out; */
}

.block {
    background-color: rgb(187, 255, 187);
    border-radius: 3vh;
    height: 100%;
    width:100%;
    overflow: hidden; /* Ajouté pour garder l'image à l'intérieur du bloc */
}

