
footer{
    background-color: rgb(199, 200, 201);
    min-height: 10vh;
}
.souscont{
    background-color: rgb(255, 255, 255);
    height:25px;
}
.souscont h1{
    padding-left:1px;
    font-size: 2vh;
}

.card{
    z-index: -1;
    border-radius: 3vb;
    overflow: hidden;
}


.container-fluid{
    /*background-color: rgba(182, 182, 182, 0.5);*/
    position: sticky;
    top: 0;

    padding-left: 0;
    padding-right: 0;
}
body{
    background-color: rgb(233, 231, 231);
}
.container{
    width:90%;
}

.block {
    background-color: rgb(187, 255, 187);
    border-radius: 3vh;
    height: 100%;
    width:100%;
    overflow: hidden; /* Ajouté pour garder l'image à l'intérieur du bloc */
}

